<html>
  <head>
    <script src="https://www.google.com/recaptcha/api.js?render=6LdpX4QaAAAAAJJXqWva4DtrZX14nDQHyhtnNu7m"></script>
  </head>
  <body>
    <button id="captcha">Captcha</button>

    <script>
      const btn= window.document.getElementById("captcha");
      btn.addEventListener('click', evt => onClick(evt));

      function onClick(evt) {
        evt.preventDefault();
        grecaptcha.ready(() => {
          grecaptcha.execute('6LdpX4QaAAAAAJJXqWva4DtrZX14nDQHyhtnNu7m', {action: 'submit'}).then((token) => {
            fetch('/verify', {
              body: JSON.stringify(token),
              method: 'post',
              redirect: 'follow',
            }).then(response => {
              response.text().then(redirect_url => {
                window.document.location.replace(redirect_url);
              })
            });
          });
        });
      }
    </script>
  </body>
</html>
